/*Pagina de Pagos*/
.logo {
    border: 0;
    width: 200px;
    background-color: #fff0;
}
.verde {
    color: #80CC28 !important;
    text-decoration: none;
}
.naranja {
    color: #F68712 !important;
}
h3 {
    font-family: lobster;
    color: rgb(97, 97, 98);
}
h3 span {
    padding-right: 8px;
}

body {
    background-color: rgb(238, 238, 238);
}

.card {
    margin-top: 3em;
    box-shadow: #777;
    box-shadow: 19px 20px 36px -5px #777;
}

.card-body {
    border-radius: 30px;
}

.card-title {
    color: #F68712;
    text-align: left;
}

.card .medios-de-pago {
    padding: 1em 0 1em 2em;
}
.form-check-label {
    padding-left: 1em;
}

.dropdown-toggle {
    border: solid 1px #777;
}

.btn-group ul li > :nth-child(n) {
    padding: 0 0 0 12%;
}

#location {
    width: 8%;
}

.container {
    margin: 2em;
}

.container #cards-group .col {
    padding-top: 1.5em;
}

.container .row .col-8, .col-4 {
    padding-bottom: 12px;
}

#elimina {
    width: 5%;
}



#div-btn-compra {
    margin: 3em 5em 0 0;
}
 #conf-compra {
    background-color: #80CC28;
    border-color: #80CC28;
    width: auto;
    height: 80px;
 }

 #conf-compra:hover {
    background-color :#69af1a;
    border-color: #5c961b;
 }
 /*FIN Pagina de Pagos*/