{% load static %}

<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="{% static 'img/productos/4 (1).png' %}"
        class="d-block w-100 img-fluid"
        alt="..."
      />
    </div>
    <div class="carousel-item">
      <img
        src="{% static 'img/productos/4 (1).png' %}"
        class="d-block w-100 img-fluid"
        alt="..."
      />
    </div>
    <div class="carousel-item">
      <img
        src="{% static 'img/productos/4 (1).png' %}"
        class="d-block w-100 img-fluid"
        alt="..."
      />
    </div>
  </div>
  <br /><br />
  <br />
</div>
<div class="col-md-12 mx-auto text-center">
  <h2 style="color: #f68713">Viandas para economizar y ganar salud</h2>
  <h5>
    Nuestras recetas te ayudan a aprovechar mejor los alimento, economizar,
    ganar tiempo y practicidad
  </h5>
</div>
<br /><br />
<br />
<!-- produt start  -->
<div id="" class="container viandas-produt">
  <div class="card-deck">
    <!-- card 1 -->
    <div class="card vianda-style all-img-hover">
      <img src="{% static 'img/productos/canelones 1.png' %}" class"
      ="card-img-top" alt="..." />
      <div class="card-body text-center">
        <h4 class="card-title">Canelones de pollo</h4>
        <p class="card-text"></p>
        <h5>467 kcal / 32.9 g Prot./ 50.6 g CH/ 7.2 Gr. /</h5>
        <button type="button" class="btn btn-dark buy-now-button">
          <a href="platos.html" style="color: white; text-decoration: none"
            >Ver</a
          >
        </button>
      </div>
    </div>
    <!-- card 2 -->
    <div class="card vianda-style all-img-hover">
      <img
        src="{% static 'img/productos/verduras salteadas 3.png' %}"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body text-center">
        <h4 class="card-title">Verduras salteadas</h4>
        <p class="card-text"></p>
        <h5 class="descripcion">
          377 Kcal / 18.6 g Prot. / 52.6 g CH / 7.2 g Gr
        </h5>
        <button type="button" class="btn btn-dark buy-now-button">Ver</button>
      </div>
    </div>
    <!-- card 3-->
    <div class="card vianda-style all-img-hover">
      <img
        src="{% static 'img/productos/bondiola.png' %}"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body text-center">
        <h4 class="card-title">Bondila con puré de zapallo</h4>
        <p class="card-text"></p>
        <h5>578 Kcal / 27.8 g Prot. / 24.7 CH / 12.3 GR</h5>
        <button type="button" class="btn btn-dark buy-now-button">Ver</button>
      </div>
    </div>
  </div>
</div>
<!--produt end-->

<div id="" class="container viandas-produt">
  <!--produt start-->

  <div class="card-deck">
    <!-- card 4 -->
    <div class="card vianda-style all-img-hover">
      <img
        src="{% static 'img/productos/colita.png' %}"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body text-center">
        <h4 class="card-title">Colita de cuadril con papas</h4>
        <p class="card-text"></p>
        <h5>483 kcal / 48.7 Prot. / 52 CH / 4 g Gr.</h5>
        <button type="button" class="btn btn-dark buy-now-button">Ver</button>
      </div>
    </div>
    <!-- card 5 -->
    <div class="card vianda-style all-img-hover">
      <img
        src="{% static 'img/productos/bowl.png' %}"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body text-center">
        <h4 class="card-title">Bowl de garbanzo</h4>
        <p class="card-text"></p>
        <h5>113 Kcal / 7.5 g Prot. / 24.5 g CH / 0.0 g GR</h5>
        <button type="button" class="btn btn-dark buy-now-button">Ver</button>
      </div>
    </div>
    <!-- card 6 -->
    <div class="card vianda-style all-img-hover">
      <img
        src="{% static 'img/productos/albondigas.png' %}"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body text-center">
        <h4 class="card-title">Albóndigas con arroz</h4>
        <p class="card-text"></p>
        <h5>582 kcal / 33.6 g Prot. / 75.4 g CH / 7.5 g GR.</h5>
        <button type="button" class="btn btn-dark buy-now-button">Ver</button>
      </div>
    </div>
  </div>
</div>
<!--produt end-->
