{% extends 'app/base.html' %} {# Extiende el layout base.html #}
{% load static %} {# Carga archivos estáticos como CSS y JS #}
{% block title %}Cambio Contraseña{% endblock title %} {# Define el título de la página #}

{% block main-content %} {# Comienza el bloque principal del contenido #}
<link rel="stylesheet" href="{% static 'app/css/style_change-pass.css' %}">
<div class="container my-5"> {# Crea un contenedor con margen superior #}
    
    <div class="row d-flex justify-content-center"> {# Crea una fila #}
        <h2 class="saludo d-flex justify-content-center" style="color:#f68713; font-family: Lobster; ">Bienvenid@ {{ request.user.username|capfirst }}!</h2> {# Muestra un saludo personalizado para el usuario logueado #}
 
        <div class=" col-sm-9 d-flex justify-content-center" > {# Crea una columna de 9 de ancho con un desplazamiento hacia la derecha de 1 columna #}
            <form action="" method="post" novalidate class="shadow p-5 d-flex flex-column align-items-center justify-content-center " style="height: 100%;"> {# Crea un formulario con sombra y relleno #}
                {% csrf_token %} {# Incluye el token CSRF para protección contra ataques CSRF #}
                {% for fm in form %} {# Inicia un bucle que recorre los campos del formulario #}
                <div class="mb-3 container-fluid camposForm" >
                    {{ fm.label_tag }} {{ fm }} <small class="text-danger">{{ fm.errors|striptags }}</small> {# Muestra la etiqueta del campo, el campo en sí y cualquier error del campo #}
                </div>
                {% endfor %} {# Termina el bucle de campos del formulario #}
                <button type="submit" class="btn-addtocart2 btn-primary ">Enviar</button> {# Agrega un botón de envío #}
    
                {% if form.non_field_errors %} {# Verifica si hay errores que no están relacionados con campos específicos #}
                {% for error in form.non_field_errors %} {# Inicia un bucle para mostrar errores generales del formulario #}
                <p class="alert alert-danger my-3">{{ error }}</p> {# Muestra un mensaje de error #}
                {% endfor %} {# Termina el bucle de errores generales del formulario #}
                {% endif %} {# Finaliza la verificación de errores generales del formulario #}
            </form> {# Finaliza el formulario #}
        </div>
    </div> {# Finaliza la fila #}

    
</div> {# Finaliza el contenedor principal #}
{% endblock main-content %} {# Finaliza el bloque principal del contenido #}
