{% extends 'app/base.html' %}
{% load static %}
{% block title %}Contraseña cambiada hecha{% endblock title %}
{% block main-content %}
<div class="container my-5">
    <link rel="stylesheet" href="{% static 'app/css/style_change-pass.css' %}">
    <div class="row">
        <!-- Encabezado de bienvenida -->
        <h3 class="saludo" style="color:#f68713; font-family: Lobster; ">¡Bienvenid@ {{request.user.username|capfirst}}!</h3>
        <div class="col-sm-2 border-end"> 
            <ul class="list-unstyled">
                <!-- Enlace para cambiar la contraseña -->
                <!--<li class="d-grid">
                    <a href="{% url 'profile' %}" class="btn btn-primary">Change Password Done</a>
                </li>-->
            </ul>
        </div>
        <div class="col-sm-9 offset-sm-1 text-center">
            <!-- Mensaje de éxito de cambio de contraseña -->
            <h3 class="cambioExitoso" style="color:#555B68; font-family: Roboto">¡Se cambió la contraseña exitosamente!</h3>
            <div>
                <!-- Insertar un GIF animado opcional para dar un toque de diversión -->
                <iframe src="https://giphy.com/embed/V47PlT1DUV73cbStw2" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/art-animation-2d-V47PlT1DUV73cbStw2"></a></p>
            </div>
        </div>
    </div>
</div>
{% endblock main-content %}