{% extends 'app/base.html' %}
{% load static %}
{% block title %}Contraseña recuperada con éxito{% endblock title %}
 
{% block main-content %}

<head>
    <link rel="stylesheet" type="text/css" href="../../static/app/css/style_pass-reset.css">
</head>
<!-- Abre un bloque de contenido principal -->
<div class="container">
    <div class="row my-3">
        <div class="col-sm-6 offset-sm-3">
            <!-- Crea una fila en el diseño de Bootstrap -->
            <h3 class="alert-heading">Hecho!</h3>
            <!-- Muestra un mensaje de encabezado -->
            <p class="mensajeHecho">Un email fue enviado a tu casilla de correo con instrucciones para establecer tu nueva contraseña. <b> Por favor, revisa tu bandeja de entrada! </b></p>
            <!-- Muestra un mensaje de confirmación y resalta "Please check Email" en negrita -->
        </div>
    </div>
</div>
<!-- Cierra el bloque de contenido principal -->
{% endblock main-content %}